* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.field {
      position: relative;
    float: left;
    height: 110px;
    width: 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
          background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
   
}

.value {

    font-size: 80px;
    color: #daf6ff;
        text-shadow: 0 0 20px #0aafe6, 0 0 20px rgb(10 175 230 / 0%);
        font-family: "Share Tech Mono", monospace;
       
}

.label {
      display: block;
    font-size: 20px;

    color: black;
    text-transform: uppercase;
    font-family: "Share Tech Mono", monospace;
   
}
 .timer {
  display: block;
  margin-top: 20px;

 }